<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="Black_Eagle_private_security_service.Properties.Settings.Black_Eagle_Connection"
        connectionString="Data Source=BUDDHICW\SQLEXPRESS;Initial Catalog=Black_Eagle;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="Black_Eagle_private_security_service.Properties.Settings.ClientBlack_EagleConnectionString"
        connectionString="Data Source=|DataDirectory|\Black_Eagle.sdf;Max Database Size=2047"
        providerName="Microsoft.SqlServerCe.Client.3.5" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
